spring:
  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600
      routes:
        - id: auth-service
          uri: http://localhost:8080
          predicates:
            - Path=/api/auth/**

        - id: auth-service-logout
          uri: http://localhost:8080
          predicates:
            - Path=/logout

        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/user/**

        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/product/**,/api/brand/**,/api/review/**,/api/analysis/**,/api/skintype/**,/api/concern/**,/api/upload/**
server:
  port: 8888

jwt:
  public-paths: /api/auth/exchange,/api/auth/refresh,/logout