spring:
  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "${FRONTEND_URL:http://localhost:3000}"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600
      routes:
        - id: auth-service
          uri: http://auth-service:8080
          predicates:
            - Path=/api/auth/**

        - id: auth-service-logout
          uri: http://auth-service:8080
          predicates:
            - Path=/logout

        - id: user-service
          uri: http://user-service:8081
          predicates:
            - Path=/api/user/**

        - id: product-service
          uri: http://product-service:8082
          predicates:
            - Path=/api/product/**,/api/brand/**,/api/review/**,/api/analysis/**,/api/skintype/**,/api/concern/**,/api/upload/**

        - id: post-service
          uri: http://post-service:8083
          predicates:
            - Path=/api/posts/**,/api/comments/**
  codec:
    max-in-memory-size: 50MB

jwt:
  public-paths: /api/auth/exchange,/api/auth/refresh,/logout,/api/chat

